html {
	height: 100%;
	background: #EEEEEE;
}

a:link, a:hover, a:active, a:visited 
{
     color: inherit; 
     text-decoration: none; 
     cursor: pointer;  
}

/*
	
	Color

*/

.box-shadow {
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
 }

.bg-primary {
	background: #428bca;
}

.bg-success {
	background: #5cb85c;
}

.bg-failure {
	background: #d9534f;
}

.bg-black {
	background: #1d1a1a;
}

.bg-dark-grey {
	background: #636B6F;
}

.bg-light-grey {
	background: #EEEEEE;
}

.bg-white {
	background: #FFFFFF;
}

.border-0 {
	border: 0px;
}

.border-left-light-grey {
	border-left: 1px solid #EEEEEE;
}

.border-right-light-grey {
	border-right: 1px solid #EEEEEE;
}

.border-left-right-light-grey {
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
}

.border-dark-grey {
	border: 1px solid #636B6F;
}

.border-light-grey {
	border: 1px solid #EEEEEE;
}

.border-radius-10 {
	border-radius: 10px;
}

.font-size-1em {
	font-size: 1em !important;
}

.font-size-135em {
	font-size: 1.35em !important;
}

.font-size-171em {
	font-size: 1.71em !important;
}

.font-size-228em {
	font-size: 2.28em !important;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-19 {
	font-size: 19px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-32 {
	font-size: 32px;
}

.font-size-36 {
	font-size: 36px;
}

.text-link-blue {
	color: #3097D1;
}

.text-dark-grey {
	color: #636B6F;
}

.text-light-grey {
	color: #EEEEEE;
}

.text-white {
	color: #FFFFFF !important;
}

.text-red {
	color: #d9534f;
}

/*
	
	Position

*/

.clear {
	clear: both;
}

.display-none {
	display: none;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.flex-align-center-justify-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.flex-align-center-justify-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-align-center-justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-align-center-justify-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.flex-align-start {
	display: flex;
	align-items: start;
}

.flex-align-start-justify-between {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.flex-justify-center {
	display: flex;
	justify-content: center;
}

.flex-align-item {
	align-self: center;
}

.height-20 {
	height: 20px;
}

.height-50 {
	height: 50px;
}

.height-100 {
	height: 100px;
}

.height-50p {
	height: 50%;
}

.height-100p {
	height: 100%;
}

.margin-left-auto {
	margin-left: auto;
}

.margin-0 {
	margin: 0px;
}

.margin-left-0 {
	margin-left: 0px;
}

.margin-right-0 {
	margin-right: 0px;
}

.margin-top-0 {
	margin-top: 0px;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.margin-top-1 {
	margin-top: 1px;
}

.margin-2 {
	margin: 2px;
}

.margin-left-2 {
	margin-left: 2px;
}

.margin-right-2 {
	margin-right: 2px;
}

.margin-left-right-2 {
	margin-left: 2px;
	margin-right: 2px;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-bottom-2 {
	margin-bottom: 2px;
}

.margin-top-bottom-2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-4 {
	margin: 4px;
}

.margin-left-4 {
	margin-left: 4px;
}

.margin-right-4 {
	margin-right: 4px;
}

.margin-left-right-4 {
	margin-left: 4px;
	margin-right: 4px;
}

.margin-top-4 {
	margin-top: 4px;
}

.margin-bottom-4 {
	margin-bottom: 4px;
}

.margin-top-bottom-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-6 {
	margin-bottom: 6px;
}

.margin-bottom-7 {
	margin-bottom: 7px;
}

.margin-bottom-8 {
	margin-bottom: 8px;
}

.margin-10 {
	margin: 10px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-bottom-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-left-right-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.margin-20 {
	margin: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-bottom-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-left-right-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}


.max-width-80p {
	max-width: 80%;
}

.padding-0 {
	padding: 0px;
}

.padding-10 {
	padding: 10px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-left-right-10 {
	padding-left: 10px;
	padding-right: 10px;
}


.padding-top-10 {
	padding-top: 10px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-top-bottom-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-20 {
	padding: 20px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-left-right-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-top-bottom-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.width-20 {
	width: 20px;
}

.width-14 {
	width: 14px;
}

.width-10p {
	width: 10%;
}

.width-25p {
	width: 25%;
}

.width-48p {
	width: 48%;
}

.width-485p {
	width: 48.5%;
}

.width-49p {
	width: 49%;
}

.width-50p {
	width: 50%;
}

.width-90p {
	width: 90%;
}

.width-96p {
	width: 96%;
}

.width-100p {
	width: 100%;
}

.confirm-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	height: calc(100% - 51px);
	position: absolute;
	width: 100%;
	z-index: 1;
}

.confirm {
	width: 80%;
	z-index: 2;
}

.content {
	display: inline-block;
	position: absolute;
	width: 100%;
}

.messages-footer {
    position: fixed;
    bottom: 0;
}

.message-footer {
    position: fixed;
    bottom: 0;
}

.navbar-custom {
    background-color: #1d1a1a;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #33aa33;
}

.quiz-header {
	align-items: flex-end;
}

.section-tab-header {
    font-size: 12px;
}

.sidebar {
	background-color: #1d1a1a;
    color: #ffffff;
	float: left;
	position: absolute;
	width: 300px;
	z-index: 5;
}

.sidebar-container {
	display: none;
}

.sidebar-nav {
	clear: right;
}

.sidebar-open {
	top: 0px;
}

.sidebar-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	z-index: 1;
}

.unit-tab {
    font-size: 12px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#submit-file {
	display: inline;
}